<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>add question</title>
</head>
<body>
<form th:value="questionAndOption" th:action="@{/questions/add}" method="post"
      style="width: 500px; height: 300px; border: 1px dodgerblue solid;" id="question__form">
    <table class="table">
        <thead></thead>
        <tbody>
        <tr>
            <td>
                question
                <input th:field="${questionAndOption.content}"/>
            </td>
        </tr>
        <tr th:each="option, optionStat: *{questionAndOption.options}">
            <td>
                egorka
                <input type="radio" th:name="answer_index" th:value="${optionStat.index}"/>
            </td>
            <td>
                option [[${optionStat.index}]]
                <input type="text" th:field="${questionAndOption.options[__${optionStat.index}__]}"/>
            </td>
            <td>
                <button type="submit" th:name="removeOption" th:value="${optionStat.index}">remove option</button>
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit" th:name="action" th:value="addOption">add option</button>
            </td>
            <td>
                <button type="submit" th:name="action" th:value="createQuestion">create question</button>
            </td>
        </tr>
        </tbody>
    </table>
</form>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>-->
<!--<script th:inline="javascript">-->
<!--    var requestData = {};-->
<!--    function sendRequestWithOptions(action) {-->
<!--        requestData["action"] = action;-->
<!--        Ajax(action);-->
<!--    }-->

<!--    function Ajax(action) {-->
<!--        $.ajax({-->
<!--            type: "POST",-->
<!--            url: "questions/add",-->
<!--            data: requestData,-->
<!--            success: function (body) {-->
<!--                $("#likesLabel").html(body.value);-->

<!--            }-->
<!--        });-->
<!--    }-->
<!--</script>-->
</body>
</html>