<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <style>
        li{
            list-style-type: none;
        }
    </style>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>questions</title>
</head>
<body>
<h2>all questions</h2>
<table class="table table-bordered table-hover">
    <thead class="thead-inverse">
    <tr>
        <th>
            questions
        </th>
        <th>
            options
        </th>
        <th>
            actions
        </th>
    </tr>
    </thead>
    <tbody th:each="question : ${questions}">
    <tr>
        <td>
            <p>
                [[${question.content}]]
            </p>
        </td>
        <td>
            <ul th:each="option : ${question.options}">
                <li>
                    [[${option.content}]]
                </li>
            </ul>
        </td>
        <td>
            <div class="wrap">
                <div class="modal"></div>
                <div class="header">
                    <a th:href="@{'/questions/edit&id='+ ${question.id}}">edit</a>
                </div>
            </div>
            <div class="wrap">
                <div class="modal"></div>
                <div class="header">
                    <a th:href="@{'/questions/remove&id='+ ${question.id}}">delete</a>
                </div>
            </div>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/questions/add}">add new question</a>
</body>
</html>