<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>questions</title>
</head>
<body>
<h2>all questions</h2>
<table class="table table-bordered table-hover">
    <thead class="thead-inverse">
    <tr>
        <th>
            question
        </th>
        <th>
            answer
        </th>
        <th>
            action
        </th>
    </tr>
    </thead>
    <tbody th:each="question : ${questions}">
    <tr>
        <td>
            <p>
                [[${question.content}]]
            </p>
        </td>
        <td>
            <p>
                [[${question.answer.content}]]
            </p>
        </td>
        <td>
            <div class="wrap">
                <div class="modal"></div>
                <div class="header">
                    <a th:href="@{'/edit/question&id='+ ${question.id}}">edit</a>
                </div>
            </div>
            <div class="wrap">
                <div class="modal"></div>
                <div class="header">
                    <a th:href="@{'/delete/question&id='+ ${question.id}}">delete</a>
                </div>
            </div>
        </td>
    </tr>
    </tbody>
</table>
<a href="#">режим работы</a>
<script th:inline="javascript">
$('a').on('click', function(e){
e.preventDefault();
$('.modal').toggleClass('active');
});
</script>
</body>
</html>